* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #ddd;
}

.header {
  padding: 30px 40px;
  background-color: #222;
  box-shadow: 2px 2px 2px 2px #fff;
}

.header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.search1 {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  max-width: 500px;
  margin-top: 40px;
}

.search1 h2,
.search2 h2 {
  color: #222;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.search2 h2 {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.search1 input {
  height: 40px;
  border: 1px solid #222;
  border-radius: 10px;
  width: 400px;
}

.search2 form {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search2 form label {
  color: #222;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.search2 form input {
  height: 40px;
  width: 170px;
  color: #222;
  font-size: 20px;
  padding-left: 8px;
  display: block;
  border: 1px solid #222;
  border-radius: 10px;
  margin-bottom: 30px;
}

.lista-imoveis {
  margin-bottom: 128px;
}

.lista-imoveis h2 {
  color: #222;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.single-imovel {
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.single-imovel img {
  border-radius: 10px;
}

.single-imovel div p {
  color: #222;
  font-size: 20px;
  margin-bottom: 10px;
}